:root {
    --orlight: rgb(211, 142, 15);
}
body {
    background-color: black;
    color: var(--orlight);
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: var(--orlight);
}

h1 {
    display: flex;
    font-size: 200%;

}
.colored-line {
    border: 0;
    height: 2px;
    background-color: var(--orlight);
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav ul:hover {
    color:bisque;
}

.separator {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid black;
} 
.img {
    height: 200px;
}